<html>
<title>RocketLine</title>
<body>
    <div>
        <h2>RocketLine</h2>
    </div>
    <div>
        <% @posts.each do |post| %>
            <%= post.title %>
        <% end %>
    </div>
</body>
</html>